@font-face {
  font-family: 'Bangers';
  src: local('Bangers'), url(./fonts/Bangers-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'), 
  url(./fonts/OpenSans/OpenSans-Regular.ttf) format('truetype');
  font-weight: regular;
}
.App {
  /* text-align: center; */
  font-size: 100%; /*16px = 100% */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.NavBar {
  background-color: whitesmoke;
  color: black;
  width: 100%;
  height: 5%;
  position: sticky;
  top: 0%;
  padding: 2%;
  display: flexbox;
  justify-content: center;
  text-align: center;
  margin-bottom: 2%;
  text-transform: uppercase;
}

.navLink{
  text-decoration: none;
  color: black
}

.navLink:hover {
  text-decoration-line: underline;
  color:white;
  font-weight: bold;
  
}
#construction{
  max-width: 50%;
  max-height: auto;
}
.about{
  display: flexbox;
}


.aboutText{
  border-radius: 10%;
  line-height: 30px;
  /* font-size: 1.5em; */
  z-index: 2;
  padding: 2%;
  position: relative;
  text-transform: uppercase;
  left: 45%;
  background-color: #eeeeee;
  max-width: 50%;
  max-width: auto;
  text-align: left;
}
  /* font-weight: lighter; */
  /* font-family: OpenSans; */
  /* <div id= aboutText 
  
}

/* .face:hover {
  filter:blur(10%)
} */
.aboutText:hover{
  background-color: rgb(252, 0, 130);
  color: white;
}
.NavBar:hover{
  background-color: rgb(252, 0, 130);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
