@font-face {
  font-family: 'Bangers';
  src: local('Bangers'), url(./fonts/Bangers-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'), 
  url(./fonts/OpenSans/OpenSans-Regular.ttf) format('truetype');
  font-weight: regular;
}
.App {
  /* text-align: center; */
  font-size: 100%; /*16px = 100% */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.NavBar {
  background-color: whitesmoke;
  color: black;
  width: 100%;
  height: 5%;
  position: sticky;
  top: 0%;
  padding: 2%;
  display: flexbox;
  justify-content: center;
  text-align: center;
  margin-bottom: 2%;
  text-transform: uppercase;
}

.navLink{
  text-decoration: none;
  color: black
}

.navLink:hover {
  text-decoration-line: underline;
  color:white;
  font-weight: bold;
  
}
#construction{
  max-width: 50%;
  max-height: auto;
}
.about{
  display: flexbox;
}


.aboutText{
  border-radius: 5%;
  line-height: 30px;
  /* font-size: 1.5em; */
  z-index: 2;
  padding: 2%;
  position: relative;
  text-transform: uppercase;
  left: 45%;
  background-color: #eeeeee;
  max-width: 50%;
  max-height: auto;
  text-align: left;
}
  /* font-weight: lighter; */
  /* font-family: OpenSans; */
  /* <div id= aboutText 
  
}

/* .face:hover {
  filter:blur(10%)
} */
.aboutText:hover{
  background-color: rgb(0, 185, 252);
  color: white;
  
}
/* <div id="aboutName" style={{zIndex: "2", position: "relative", 
  textAlign: "center", fontFamily: "Bangers", letterSpacing: "2px", fontSize: "4em" }}>  */

.aboutName{
  z-index: 2; 
  position: relative;
  text-align: center;
  font-family: Bangers;
  letter-spacing: 2p; 
  font-size: 4em;
  color: #61dafb;
}
.aboutName:hover{
  color: rgb(0, 185, 252);
}
.faceOverlay{
  z-index: 2;
  background-color: rgb(0, 185, 252);
  border-radius: 40%;
  width: 40%; 
  height: 80%; 
  justify-content: left;
  position: absolute;
  margin-top: 5%;
  margin-left: 2.5%;
  opacity: 0%;
  /* padding-right: 10%, */
  /* object-fit: cover;
   */
}

.faceOverlay:hover{
  
  opacity: 20%;
  /* padding-right: 10%, */
  /* object-fit: cover;
   */
}
.aboutLink{
  text-decoration: none;
  color:rgb(0, 0, 0);
  
  font-weight: bold;
}
.aboutLink:hover{
  
  color:rgb(255, 255, 255);
  
}
.NavBar:hover{
  background-color: rgb(0, 185, 252);
}

.projects{
  margin: 5%;
  
}
.projectsVideo{
  max-width: 45%;
  left: 0%;
}
.projectsVideo:hover{
  background-color: rgb(154, 228, 255);
  border-radius: 10%;
  padding: 6%;
  
}
.projectText{
  position: absolute;
  max-width: 45%;
  right: 5%;
  padding-top:6%;
  font-family: OpenSans;
  text-transform: uppercase;
  color: rgb(0, 185, 252);
  font-size: 1.1em;
}
.projectText:hover{
  background-color: rgb(0, 185, 252);
  border-radius: 10%;
  padding-bottom: 6%;
  color: white
}
.projects h1{
  font-family: Bangers;
  font-size: 5em;
  text-align: center;
  color: #61dafb;
  padding-bottom: 0;
}

.projects h1:hover{
  color:rgb(0, 185, 252)
}
.projectText h2{
  font-family: Bangers;
  font-size: 3em;
  letter-spacing: 2px;
  font-weight: lighter;
  text-align: center;
  
}

.projectText h3{
  
 
  text-align: center;
}

.resume{
  background-color: rgb(0, 185, 252);
  display: flexbox;
  width: 100%;
  height: 100%;
  padding: 50px;
  
}
.resumeCard{
  background-color: white;
  margin: 0 auto;
  max-width: 40%;
  padding-bottom: 2%;
  padding-right: 10%;
  padding-left:10%;
  /* 
  
  padding-top: 2%;
  padding-bottom: 2%; */
  font-family: OpenSans;
  
  text-transform: uppercase;
}

.resumeCard h1{
  padding-top: 5%;
  text-align: center;
  font-family: Bangers;
  letter-spacing: 2px;
  font-size: 3em;
  color: rgb(0, 185, 252)
}
.resumeCard h2{
  color: black
}
.resumeCard:hover{
  font-weight: bold;
  color: rgb(0, 185, 252)
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
